
.renderComponent{
  /* display: flex; */
justify-self: center;
margin-top: 100px;
max-width: 600px;
/* border: 2px solid red; */
color: white;
text-align: center;
background-color: #333333;
padding: 20px;
margin-left: auto;
margin-right: auto;
}

.navBar{
  display: flex;
  border: 2px solid #697565;
  /* justify-content: center; */
  gap: 70px;
  /* justify-self: space-evenly; */
  background-color: gray;
  padding: 10px 20px;
  border-radius: 10px;
}

button {
  font-size: 18px;
  border-radius: 30%;
}

button:hover{
  background-color: #697565;
  cursor: pointer;
  color: white;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  
}

input {
  background-color: gray;
  color: white;
}

input:focus{
  /* box-shadow: none; */
  /* border: none; */
  outline: none;

}

li,
ul{
  display: flex;
  flex-direction: column;
  padding: 20px;
  row-gap: 20px;
  color: #ECDFCC;
 
 
} 

a{
  color: white;
}

#root {
  /* max-width: 800px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 2px solid #ECDFCC;
}

p {
  color: #dddddd;
}

h1{
  color: #ECDFCC
}

