
.renderComponent{
  /* display: flex; */
  justify-self: center;
margin-top: 200px;
max-width: 500px;
/* border: 2px solid red; */
color: white;
}

.navBar{
  display: flex;
  border: 2px solid #697565;
   /* justify-content: space-evenly; */
  gap: 250px;
  justify-self: space-evenly;
}

button {
  font-size: 18px;
  border-radius: 30%;
}

button:hover{
  background-color: #697565;
  cursor: pointer;
  color: white;
}

form{
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

li,
ul{
  display: flex;
  flex-direction: column;
  padding: 20px;
  row-gap: 20px;
  color: #ECDFCC;
 
 
} 

a{
  color: white;
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 2px solid #ECDFCC;
}

p {
  color: #697565;
}

h1{
  color: #ECDFCC
}

